.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
}

.toggle-on {
    top: unset;
}

.toggle-off {
    top: unset;
}

.toggle-on.btn-sm {
    font-size: 14px;
    padding-right: 15px;
}

.toggle-off.btn-sm {
    font-size: 14px;
    padding-left: 15px;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

.text-style {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.toast-success {
    background-color: #28a745 !important;
}

.toast-top-right {
    top: 15px;
    right: 15px;
}

#toast-container > div {
    opacity: 1;
}

.card-primary.card-outline {
    border-top: 3px solid #0088cc;
}

a {
    color: #0088cc;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary {
    color: #fff;
    background-color: #0088cc;
    border-color: #0088cc;
    box-shadow: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0088cc;
    border-color: #0088cc;
}

.login-box .ftr {
    background-color: #0088cc !important;
}

.login-box .card-footer small a {
    color: #fff !important;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

.register-box .ftr {
    background-color: #0088cc !important;
}

.register-box .card-footer small a {
    color: #fff !important;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
